#map {
	width: 100%; height: 1000px;
	background: black;
	margin: 0 auto;
}

body {
	background: black;
}

.guild-name {
  background: transparent !important;
  border: transparent !important;
  color: white !important;
  box-shadow: none !important;
  text-align: center !important;
  overflow-wrap: break-word !important;
}

.identifier {
	font-weight: bold !important;
}

.territory {
}

.leaflet-tooltip-left.guild-name::before {
  border-left-color: transparent !important;
}
.leaflet-tooltip-right.guild-name::before {
  border-right-color: transparent !important;
}